{extends "master.html"}

{block name="pageTitle"}管理區{/block}

{block name="style"}
    <style type="text/css">
        .admin-main {
            flex: 6 3 300px;
            padding: 0 10px;
        }

        .admin-aside {
            flex: 1 2 120px;
            padding: 0 10px;
        }
    </style>

    <style type="text/css">
        .flex-page-header {
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
        }

        .flex-page-header > * {
            display: inline-block;
        }

        .no-data {
            width: 100%;
            text-align: center;
            margin-top: 30px;
        }
    </style>

    {block name="subStyle"}{/block}

{/block}

{block name="mainContent"}

<div class="flex-row-container">
    <div class="admin-main">
        {block name="adminMain"}{/block}
    </div>
    <div class="admin-aside">
        {include "admin/partials/aside.html"}
    </div>
</div>

{/block}

{block name="script"}{/block}