{extends "admin/master.html"}

{block name="pageTitle" append} - 帳號管理{/block}

{block name="adminMain"}

<div>

    <table class="table table-hover ">
        <thead>
        <tr>
            <th>#</th>
            <th>帳號</th>
            <th>姓名</th>
            <th>OpenID</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        {foreach $users as $user}
            <tr>
                <td>{$user.id}</td>
                <td>
                    {$user.username}
                    {if $user.isAdmin}
                        &nbsp&nbsp<span class="glyphicon glyphicon-king" aria-hidden="true"></span>
                    {/if}
                </td>
                <td>{$user.realName}</td>
                <td>
                    {if $user.isOpenid}
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    {/if}
                </td>
                <td>
                    <!-- 查看 user 帳號資訊 -->
                    <a href="{$home}/profile.php?id={$user.id}" class="btn btn-success">
                        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                    </a>

                    {if $user.id > 1}
                        <!-- 刪除 -->
                        <button type="button" class="btn btn-danger"
                                data-toggle="modal"
                                data-target="#exampleModal"
                                data-op="deleteUser"
                                data-userid="{$user.id}"
                                data-username="{$user.username}"
                        >
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </button>

                        {if $user.isAdmin}
                            <!-- 提昇為管理員 -->
                            <button type="button" class="btn btn-warning"
                                    data-toggle="modal"
                                    data-target="#exampleModal"
                                    data-op="removeAdmin"
                                    data-userid="{$user.id}"
                                    data-username="{$user.username}"
                            >
                                <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
                            </button>
                        {else}
                            <!-- 取消管理權 -->
                            <button type="button" class="btn btn-warning"
                                    data-toggle="modal"
                                    data-target="#exampleModal"
                                    data-op="addAdmin"
                                    data-userid="{$user.id}"
                                    data-username="{$user.username}"
                            >
                                <span class="glyphicon glyphicon-open" aria-hidden="true"></span>
                            </button>
                        {/if}

                    {/if}

                </td>
            </tr>
        {/foreach}
        </tbody>
    </table>

</div>

<!-- modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel"></h4>
            </div>
            <div class="modal-body">
                <h4></h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="doit">確定</button>
            </div>
        </div>
    </div>
</div>
<!-- modal end -->

{/block}

{block name="script"}
<script type="text/javascript">
    $('#exampleModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget); // Button that triggered the modal
        var op = button.data('op'); // Extract info from data-* attributes
        var userid = button.data('userid'); // Extract info from data-* attributes
        var username = button.data('username'); // Extract info from data-* attributes
        var modal = $(this);
        
        var title, content;
        switch (op) {
            case 'deleteUser':
                title = '刪除帳號';
                content = '確定刪除 ' + username + ' ？'
                break;
            
            case 'addAdmin':
                title = '升級為管理員';
                content = '確定將 ' + username + ' 提昇為管理員？'
                break;

            case 'removeAdmin':
                title = '取消管理權限';
                content = '確定取消 ' + username + ' 的管理權限？'
                break;
        }

        modal.find('.modal-title').text(title);
        modal.find('.modal-body h4').html(content);

        modal.find('#doit').on('click', doIt);

        function doIt() {
            switch (op) {
                case 'deleteUser':
                    deleteUser();
                    break;

                case 'addAdmin':
                case 'removeAdmin':
                    toggleAdmin();
                    break;
            }
        }
        
        function deleteUser() {
            window.location.href = '{$home}/admin/users.php?op=deleteUser&id=' + userid;
        }
        
        function toggleAdmin() {
            window.location.href = '{$home}/admin/users.php?op=toggleAdmin&id=' + userid;
        }
    })
</script>

{/block}