{extends "admin/master.html"}

{block name="pageTitle" append} - 帳號管理{/block}

{block name="subStyle"}
<style type="text/css">
    #searchBtn {
        margin-right: 5px;
    }

    .page-title {
        margin-top: 0px;
    }

    td.two-line {
        height: 67px;
    }
</style>
{/block}

{block name="adminMain"}

<div>

    <form action="{$smarty.server.PHP_SELF}" method="GET" id="searchForm">
        <div class="row">
            <h4 class="pull-left page-title">帳號管理</h4>
            <div class="col-md-6 col-md-offset-5 col-xs-7 col-xs-offset-4 input-group">
                    <input type="text" class="form-control" value="{if isset($smarty.get.search)}{$smarty.get.search}{/if}" placeholder="請輸入關鍵字" name="search" id="searchInput">
                    <span class="input-group-btn" id="search">
                        <button class="btn btn-primary" type="submit" id="searchBtn">搜尋</button>
                    </span>
                    <span class="input-group-btn">
                        <a class="btn btn-warning" href="{$smarty.server.PHP_SELF}">清除</a>
                    </span>
            </div>
        </div>
    </form>

    {* 取得 query string，去除 orderBy、desc、page，用於排序，之後會附加新的 orderBy、desc *}
    {$q=cleanQueryString(['orderBy', 'desc', 'page'])}

    <table class="table table-hover">
        <thead>
        <tr>
            <th class="hidden-xs">
                {if !isset($smarty.get.orderBy) or $smarty.get.orderBy == 'id'}
                    {* 目前為排序欄位，顯示箭頭符號，表格欄位為一般文字 *}
                    #
                    {if isset($smarty.get.desc)}
                        {* 目前為遞減 *}
                        <a href="{$smarty.server.PHP_SELF}?{if $q}{$q}&{/if}orderBy=id">
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </a>
                    {else}
                        {* 目前為遞增 *}
                        <a href="{$smarty.server.PHP_SELF}?{if $q}{$q}&{/if}orderBy=id&desc">
                            <span class="glyphicon glyphicon-chevron-up"></span>
                        </a>
                    {/if}
                {else}
                    {* 目前非排序欄位，不顯示箭頭符號，表格欄位為超連結，用於切換排序欄位，預設遞增 *}
                    <a href="{$smarty.server.PHP_SELF}?{if $q}{$q}&{/if}orderBy=id">#</a>
                {/if}
            </th>
            <th>
                {if isset($smarty.get.orderBy) and $smarty.get.orderBy == 'username'}
                    帳號
                    {if isset($smarty.get.desc)}
                        <a href="{$smarty.server.PHP_SELF}?{if $q}{$q}&{/if}orderBy=username">
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </a>
                    {else}
                        <a href="{$smarty.server.PHP_SELF}?{if $q}{$q}&{/if}orderBy=username&desc">
                            <span class="glyphicon glyphicon-chevron-up"></span>
                        </a>
                    {/if}
                {else}
                    <a href="{$smarty.server.PHP_SELF}?{if $q}{$q}&{/if}orderBy=username">帳號</a>
                {/if}
            </th>
            <th>姓名</th>
            <th>校代碼 / 校名</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>

        {if count($users) > 0}
            {foreach $users as $user}
                <tr>
                    <td class="hidden-xs">{$user.id}</td>
                    <td>
                        <!-- 查看 user 帳號資訊 -->
                        <a href="{$home}/profile.php?id={$user.id}{if isset($smarty.server.QUERY_STRING)}&{$smarty.server.QUERY_STRING}{/if}">
                            {$user.username}
                        </a>

                        {if $user.isAdmin}
                            &nbsp&nbsp<span class="glyphicon glyphicon-king text-danger" aria-hidden="true"></span>
                        {/if}
                    </td>
                    <td>{$user.realName}</td>
                    <td class="two-line">{$user.schoolId}<br />{$user.schoolName}</td>
                    <td>
                        <div class="pull-right">
                            {if $user.id > 1}
                                <!-- 刪除 -->
                                <button type="button" class="btn btn-danger"
                                        data-toggle="modal"
                                        data-target="#exampleModal"
                                        data-op="deleteUser"
                                        data-userid="{$user.id}"
                                        data-username="{$user.username}"
                                >
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                </button>

                                {if $user.isAdmin}
                                    <!-- 提昇為管理員 -->
                                    <button type="button" class="btn btn-warning"
                                            data-toggle="modal"
                                            data-target="#exampleModal"
                                            data-op="removeAdmin"
                                            data-userid="{$user.id}"
                                            data-username="{$user.username}"
                                    >
                                        <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
                                    </button>
                                {else}
                                    <!-- 取消管理權 -->
                                    <button type="button" class="btn btn-warning"
                                            data-toggle="modal"
                                            data-target="#exampleModal"
                                            data-op="addAdmin"
                                            data-userid="{$user.id}"
                                            data-username="{$user.username}"
                                    >
                                        <span class="glyphicon glyphicon-open" aria-hidden="true"></span>
                                    </button>
                                {/if}

                            {/if}
                        </div>
                    </td>
                </tr>
            {/foreach}
        {/if}

        </tbody>
    </table>

    {if count($users) == 0}
    <div class="bg-warning no-data clearfix"><h5>沒有資料</h5></div>
    {/if}

    <div class="pull-right">{$paginator}</div>

</div>

{include 'admin/partials/modal.html'}

{/block}

{block name="script"}

<script type="text/javascript">
    $('#exampleModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget); // Button that triggered the modal
        var op = button.data('op'); // Extract info from data-* attributes
        var userid = button.data('userid'); // Extract info from data-* attributes
        var username = button.data('username'); // Extract info from data-* attributes
        var modal = $(this);
        
        var title, content;
        // 處理 query string
        var queryString = window.location.search.split('?')[1];
        queryString = queryString ? '&' + queryString : '';

        switch (op) {
            case 'deleteUser':
                title = '刪除帳號';
                content = '確定刪除 ' + username + ' ？'
                break;
            
            case 'addAdmin':
                title = '升級為管理員';
                content = '確定將 ' + username + ' 提昇為管理員？'
                break;

            case 'removeAdmin':
                title = '取消管理權限';
                content = '確定取消 ' + username + ' 的管理權限？'
                break;
        }

        modal.find('.modal-title').text(title);
        modal.find('.modal-body h4').html(content);

        modal.find('#doit').on('click', doIt);

        function doIt() {
            switch (op) {
                case 'deleteUser':
                    deleteUser();
                    break;

                case 'addAdmin':
                case 'removeAdmin':
                    toggleAdmin();
                    break;
            }
        }
        
        function deleteUser() {
            window.location.href = '{$home}/admin/users.php?op=deleteUser&id=' + userid + queryString;
        }
        
        function toggleAdmin() {
            window.location.href = '{$home}/admin/users.php?op=toggleAdmin&id=' + userid + queryString;
        }
    })
</script>

<script type="text/javascript">
    /* 處理搜尋表單 */

    var searchInput = $('#searchInput');
    var searchForm = $('#searchForm');

    searchForm.on('submit', function () {
       if(searchInput.val().trim().length === 0) {
           return false;
       }
    });
</script>

{/block}