<form action="" method="POST" id="passwordForm">
    <fieldset>

        <legend>變更密碼</legend>

        <div class="form-group">
            <label for="newPassword" class="col-lg-2 control-label">新密碼</label>
            <div class="col-lg-10">
                <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="請輸入新密碼">
            </div>
        </div>

        <div class="form-group">
            <label for="confirmPassword" class="col-lg-2 control-label">確認密碼</label>
            <div class="col-lg-10">
                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="請再輸入一次新密碼">
            </div>
        </div>

        <div class="form-group">
            <div class="pull-left">
                <button type="reset" class="btn btn-default" id="resetPasswordBtn">取消</button>
                <button type="submit" class="btn btn-primary" id="submitPasswordBtn">確定</button>

                <input type="hidden" name="id" value="{$userData.id}">
                <input type="hidden" name="op" value="changePassword">
            </div>
        </div>

        <div class="form-group">
            <div class="alert alert-danger" id="passwordError" hidden>兩次密碼不一樣</div>
        </div>

    </fieldset>
</form>