{extends "master.html"}

{block name="pageTitle"}帳號資訊{/block}

{block name="style"}
<style type="text/css">
    .pull-left {
        padding-left: 15px;
    }

    .pull-right {
        padding-right: 15px;
    }
</style>
{/block}

{block name="mainContent"}

<div class="flex-row-container flex-wrap my-row">
    <div class="form-horizontal my-col">
        {include "partials/profile-user-info-form.html"}
    </div>

    <div class="form-horizontal my-col">
        {include "partials/profile-password-form.html"}
    </div>

    {if isset($userData.openid_data)}
        {include "partials/profile-openid-auth-info-list.html"}
    {/if}
</div>

{/block}

{block name="script"}

<script type="text/javascript">
    $("document").ready(function() {
        var passwordForm = $('#passwordForm');
        var passwordInputs = $("input[type='password']");
        var passwordError = $('#passwordError');
        var submitPasswordBtn = $('#submitPasswordBtn');
        var resetPasswordBtn = $('#resetPasswordBtn');

        var userDataForm = $('#userDataForm');
        var realNameInput = $('#realName');
        var submitInfoBtn = $('#submitInfoBtn');
        var resetInfoBtn = $('#resetInfoBtn');

        // if submit button disabled ?
        var disabled = true;
        // start check password and confirm password ?
        // 避免錯誤訊息太早出現
        var startCheck = false;

        passwordInitTask();

        submitInfoBtn.attr('disabled', true);

        realNameInput.on('input', function () {
           if($(this).val().trim() == '') {
               submitInfoBtn.attr('disabled', true);
           } else {
               submitInfoBtn.attr('disabled', false);
           }
        });

        userDataForm.on('submit', function () {
           submitInfoBtn.attr('disabled', true);
        });

        passwordInputs.on('input', checkPassword);

        resetPasswordBtn.on('click', passwordInitTask);

        passwordForm.on('submit', function() {
            submitPasswordBtn.attr('disabled', true);
            passwordError.hide();
        });

        function passwordInitTask() {
            passwordError.hide();
            submitPasswordBtn.attr("disabled", true);
            startCheck = false;
        }

        function checkPassword() {
            var val1 = passwordInputs[0].value.trim(); // newPassword
            var val2 = passwordInputs[1].value.trim(); // confirmPassword

            // 長度一樣之後才啟動檢查
            if(val2.length == val1.length) {
                startCheck = true;
            }

            if(startCheck) {
                disabled = (val1 !== val2 || (val1 == '' && val2 == ''));
                submitPasswordBtn.attr("disabled", disabled);
                showError(val1, val2);
            }
        }

        function showError(val1, val2) {
            if(val1 != '' && val2 != '' && val1 !== val2) {
                passwordError.show();
            } else {
                passwordError.hide();
            }
        }
    });
</script>

{/block}