{extends "master.html"}

{block name="pageTitle"}OpenID 登入{/block}

{block name="mainContent"}

<div>
    <h5 class="text-center">選擇登入身份</h5>
    <form action="" method="POST">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>校代碼</th>
                <th>學校全銜</th>
                <th>身分</th>
                <th>職務</th>
                <th>職稱</th>
                <th></th>
            </tr>
            </thead>

            <tbody>
            {foreach $authInfos as $data}
            <tr>
                <td>{$data.id}</td>
                <td>{$data.name}</td>
                <td>{$data.role}</td>
                <td>{$data.title}</td>
                <td>{implode(", ",$data.groups)}</td>
                <td class="text-center">
                    {if $data@first}
                        <input type="radio" name="index" value="{$data@key}" checked>
                    {else}
                        <input type="radio" name="index" value="{$data@key}">
                    {/if}
                </td>
            </tr>
            {/foreach}
            </tbody>

            <tr>
                <td colspan="5"></td>
                <td class="text-center">
                    <button type="submit" class="btn btn-primary">登入</button>
                </td>
            </tr>

        </table>
    </form>
</div>

{/block}

{block name="script"}{/block}